<%- include('./header.ejs') %>
<h1 class="titulo-2"><%=pelicula.title%></h1>
<ul class="detalle">
    <li>
       Duración: <%=pelicula.length%>
    </li>
    <li>
        Fecha de estreno: <%=pelicula.release_date%>
    </li>
    <li>
        Premios: <%=pelicula.awards%>
    </li>
    <li>
        Rating: <%=pelicula.rating%>
    </li>
    <li>
        Genero: <%=pelicula.genero.name%>
    </li>
    <li>
        Actores: 
        <ul>
            <% for (let i = 0; i < pelicula.actores.length; i++) { %>
                <li>
                    <%=pelicula.actores[i].first_name%> <%=pelicula.actores[i].last_name%>
                </li>
            <% } %>
        </ul>
    </li>
</ul>
<% if (user) { %>
    <% if (user.rol === 1) { %>
     
        <a class= "editar" href="/editar/<%=pelicula.id%>">
            <div class="detalle-boton">
                <button>Editar</button>
            </div>
        </a>
        
        <form action="/borrar/<%=pelicula.id%>" method="POST">
            <p class="detalle-boton">
                <button type="submit">Borrar</button>
            </p>
        </form>
    <% } %>
<% } %>
<%- include('./footer.ejs') %>